<section class="container mt-2">
  <div *ngIf="flag" class="alert alert-success success">
    <p> Novo usuario </p>
    <p> usuario cadastrado com sucesso </p>
  </div>
  <form action="?" class="form-inline float-right">
    <input 
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Pesquise pelo nome" 
      aria-label="Search"
      name="query"
      [(ngModel)]="query">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busca</button>
  </form>
  <table class="table mt-2">
    <thead>
      <tr>
        <th> CPF </th>
        <th> Nome </th>
        <th> Telefone </th>
        <th> Email </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | filtro:query">
        <td> {{usuario.cpf}} </td>
        <td> {{usuario.nome}} </td>
        <td> {{usuario.telefone}} </td>
        <td> {{usuario.email}} </td>
      </tr>
    </tbody>
  </table>
</section>