<div class="container mt-2">
  <h1 class="card-title"> <i class="fa fa-play"></i> App Usuarios</h1>
  <h3> Gerenciamento de usuarios. </h3>
  <p class="card-text">Existem <strong> <i class="fa fa-user"></i> {{qtd}} usuarios </strong> cadastrados.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Listar Usuarios</h5>
        <p class="card-text">Mostre todos os usuarios cadastrados.</p>
        <a routerLink="/usuarios/lista" class="btn btn-primary"> <i class="fa fa-bars"></i> Listar</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Usuario</h5>
        <p class="card-text">Cadastre um novo Usuario.</p>
        <a routerLink="/usuarios/novo" class="btn btn-primary"> <i class="fa fa-pencil"></i> Cadastrar</a>
      </div>
    </div>
  </div>
</div>