<div class="container mt-2">
  <h1 class="card-title">App Usuarios</h1>
  <h3> Gerenciamento de usuarios. </h3>
  <p class="card-text">Existem <strong> {{qtd}} usuarios </strong> cadastrados.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Listar Usuarios</h5>
        <p class="card-text">Mostre todos os usuarios cadastrados.</p>
        <a routerLink="/listagem" class="btn btn-primary">Listar</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Usuario</h5>
        <p class="card-text">Cadastre um novo Usuario.</p>
        <a routerLink="/cadastro" class="btn btn-primary">Cadastrar</a>
      </div>
    </div>
  </div>
</div>